.app.dark{
  --bg-color: #01016b;
  --inverted-bg-color: #f1eeee;

  --primary-color: #84de14;
  --secondary-color: #3d7003;

  --inverted-primary-color: #021481;
  --inverted-secondary-color: #4a7ef1;
}