.app_normal_them{
  --bg-color: #f1eeee;
  --inverted-bg-color: #01016b;
  --primary-color: #021481;
  --secondary-color: #4a7ef1;
  --inverted-primary-color: #84de14;
  --inverted-secondary-color: #3d7003;
}